@import url('https://fonts.googleapis.com/css?family=Roboto:700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

h4{
  margin: 0
}

.mainmenu{
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #d00000;
  background-color: black;
  color: #fff;
  justify-content: space-between
}

.mainmenu h3{
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
  font-size: 1.8em;
}

.filter{
  display: flex;  
}

.imagecontainer{
  background-color: #eee;
}

.imagecontainer, .mainmenu{
  padding:20px;
}

.imagecontent p, .imagecontent a{  
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;  
  word-break: break-all;  
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.tilecontainer{
  position: relative;
  margin-top:5px;
  background-color: #fff;
  border:1px solid #e0e0e0;
}

.imageblock img{
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto; 
}

.tags, .tags a, .bodytext a{
  color: #d00000;
  text-decoration: none;
}

button{
  background-color: #333;
	color: white;
	width: 150px;
  height: 40px;
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #4c4c4c;
  border-left: 1px solid #4c4c4c;
  border-right: none;
  
}

button:last-child{
  border-right: 1px solid #4c4c4c;
}

button.active{
  background-color: #4c4c4c;
	
}

.tilecontent{
  padding:20px;
}

.tagicon{
  position: absolute;
  top:-5px;
  left:20px;  
}

.timestamp{
  font-size: 0.8em;
  color:#afa7a7;
}

.more{
  margin-left: auto;
    margin-right: auto;
    display: block;
}

button:focus{
  outline: none;
}

@media (min-width: 320px){
  .tile{     
    display: inline-block;
    margin: 0 0 1em;    
    width: 100%;  
  }
  .mainmenu{
    flex-direction: column;
  }
  .filters button{
    margin-top: 10px;
    width:auto; 
    padding:8px;
    height:auto;
    font-size: 0.8em;
  }

  .mainmenu h3{
    font-size: 1.2em;
  }
}

@media (min-width: 375px){
  
}

@media (min-width: 576px){
  
  .socialwall { 
    column-count: 2;
    column-gap: 1em;
  }   
}

@media (min-width: 768px){  
  .socialwall { 
    column-count: 3;    
  }
  .mainmenu{
    flex-direction: row;
  }
  .filters button{
    margin-top: 0;
    
  }
}
@media (min-width: 992px){
  .filters button{
    margin-top:0;
    width: 150px;
    height: 40px;
    font-size: 0.9em;
  }
  .mainmenu h3{
    font-size: 1.8em;
  }
  .socialwall { 
    column-count: 4;    
  } 
}
@media (min-width: 1200px){
  .filter button{    
    width: 150px;
    height: 40px; 
       
  }
  .socialwall { 
    column-count: 5;    
  }
}